<!------------------------------------ Malindu-Summary ---------------------------------------------------->


<div class="container-fluid" > 
    <div class="row"> 
                <div class="col-md-9"></div>

                    <div class="col-md-3 col-sm-4"  style="margin-left: -1%; border-radius: 20px; height: 659px; background-color: #e4e4e4;">

                        <h4 style="font-weight: bold; text-align: center;margin-top: 10%;">Summary</h4>
                            
                            <table  style="width: 100%; height: 35%; margin-top: 5%;">
                                <tr>
                                    <td>
                                        <p style="margin-left: 15%; margin-top: 4%;">Calls Recieve Today</p> 
                                    </td>
                                    <td>
                                        <span>
                                            <p style="margin-top: 20%; margin-left: 23%;">25</p>
                                        </span>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="background-color: #cecece; height: 8px; width: 102%; margin-left: 14.5%; margin-top: -3%;">
                                            <div class="progress-bar " role="progressbar" style="width:15% ;background-color: #0bce1b;"></div>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <p style="margin-left: 15%; margin-top: 5%;">Calls Taken Today</p> 
                                    </td>
                                    <td>
                                        <span>
                                            <p style="margin-top: 21%; margin-left: 23%;">80</p>
                                        </span>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="background-color: #cecece; height: 8px; width: 102%; margin-left: 14.5%; margin-top: -3%;">
                                            <div class="progress-bar " role="progressbar" style="width: 50%; background-color: #0bce1b;"></div>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <p style="margin-left: 15%; margin-top: 5%;">Task Complete Level</p> 
                                    </td>
                                    <td>
                                        <span>
                                            <p style="margin-top: 21%; margin-left: -9%;">13/30</p>
                                        </span>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="background-color: #cecece; height: 8px; width: 102%; margin-left: 14.5%; margin-top: -3%;">
                                            <div class="progress-bar " role="progressbar" style="width: 40%; background-color: #0bce1b;"></div>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <p style="margin-left: 15%; margin-top: 5%;">Waiting List</p> 
                                    </td>
                                    <td>
                                        <span>
                                            <p style="margin-top: 21%; margin-left: -9%;">09/30</p>
                                        </span>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="progress" style="background-color: #cecece; height: 8px; width: 102%; margin-left: 14.5%; margin-top: -3%;">
                                            <div class="progress-bar " role="progressbar" style="width: 35%; background-color: #0bce1b;"></div>
                                        </div>
                                    </td>
                                </tr>

                            </table>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-1"></div>

                                <div class="col-md-10 col-sm-12" style="background-color: rgb(107, 107, 107); width: 100%; height: 200px ;margin-top: 47%; border-radius: 20px;">

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <img src="assets/images/box.png" class="position-relative"  style="width: 75%; height: 70%; margin-left: 15%; margin-top: -10%;" />
                                        </div>

                                        <div class="col-md-6 col-sm-6">
                                            <img src="assets/images/vase.png" class="position-relative"  style="width: 75%; height: 70%; margin-left: 15%; margin-top: -10%;" />
                                        </div>
                                    </div>

                                    <div class="row">           
                                        <div class="col-md-12 col-sm-12">
                                            <img src="assets/images/logo.png" class="position-relative"  style="width: 80%; height: 80%; margin-left: 8%; margin-top: 8%;" />
                                        </div>
                                    </div>
                                </div>


                               
                            </div>
                        </div>

                    </div>
     </div>
</div>

