
 /* The main box style start  */
 .mainWrap {
    position: absolute;
    width: 60%;
    height: 85%;
    background-color:white;
    left: 30%;
    top: 10%;
    border-radius:1px;
    box-shadow: 0.5px 1px 2px 1px rgba(73, 52, 212, 0.228);
}


 /* Card style start */
 .topic-card {
    width: 100%;
    height: 13%;
    background-color:white;
    position: relative;
    left: 0%;
    top: 0%;
    border-radius: 1px;
    box-shadow: 0 1px 3px 0 rgba(99, 110, 114, 0.326);
    margin-bottom: 4px; 
}
.myCard {
    width: 100%;
    height: 13%;
    background-color:white;
    position: relative;
    left: 0%;
    top: 0%;
    border-radius: 1px;
    box-shadow: 0 1px 3px 0 rgba(99, 110, 114, 0.326);
    margin-bottom: 4px; 
}
.myCard:hover{
    background-color: #A29BFE;
}


 /* Card style end */

    