 <!-- The main box start -->
 <div class="mainWrap">



    <!-- card 01 Start-->
    <div class="topic-card">
        <h6 style="position: relative; font-size: 12px;left: 8%;top:37%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Counsellor Name</h6>
        <h6 style="position: relative; font-size: 12px;left: 32%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Type</h6>
        <h6 style="position: relative; font-size: 12px;left:51%;bottom: 35%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Duration</h6>
        <h6 style="position: relative; font-size: 12px;left: 87%;bottom: 67%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">Date</h6>
    </div>
    <!-- =========card 01 End =========-->

    <!-- card 02 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Hasindu Herath</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Missed Call</h6>
        <h6 style="position: relative; font-size: 10px;left:53%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">&nbsp;</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <span  style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</span>
        <div id="dashDel"></div>
    </div>
    <!-- ========= card 02 End ========= -->

    <!-- card 03 Start-->
    <div class="myCard">
        <img [src]="pic2" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Keshan Nandasena</h6>
        <img [src]="iconOuted" width="16px" height="16px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Outgoing Call</h6>
        <h6 style="position: relative; font-size: 10px;left:53%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">05s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <span style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</span>
    </div>
    <!-- ========= card 03 End ========= -->

    <!-- card 04 Start-->
    <div class="myCard">
        <img [src]="img3" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Ashen Perera</h6>
        <img [src]="iconIncome" width="15px" height="14px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Incoming Call</h6>
        <h6 style="position: relative; font-size: 10px;left:52%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">02m 53s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <span style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</span>
    </div>
    <!-- ========= card 04 End ========= -->


    <!-- card 05 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Upeksha Swarnamali</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Missed Call</h6>
        <h6 style="position: relative; font-size: 10px;left:53%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">07s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <span style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</span>
    </div>
    <!-- ========= card 05 End  =========-->

    <!-- card 06 Start-->
    <div class="myCard">
        <img [src]="pic2" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Dulani Keshika</h6>
        <img [src]="iconOuted" width="16px" height="16px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Outgoing Call</h6>
        <h6 style="position: relative; font-size: 10px;left:53%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">11s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative; font-size: 10px;left: 75%;bottom: 88%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.153);color: #636e72; ">09/12</h6>
    </div>
    <!-- ========= card 06 End ========= -->

       <!-- card 07 Start-->
       <div class="myCard">
        <img [src]="img3" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Malika Keshika</h6>
        <img [src]="iconIncome" width="16px" height="15px" class="rounded float-start" style="position: relative; top:9%; left: 25%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 26%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Incoming Call</h6>
        <h6 style="position: relative; font-size: 10px;left:53%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">11s</h6>
        <h6 style=" position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative; font-size: 10px;left: 75%;bottom: 88%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.153) ;color: #636e72; ">25/11</h6>
        <span style="position: relative;font-size: 19px;left: 95%;bottom: 140%;">...</span>
       </div>
       <!-- ========= card 07 End ========= -->

</div>
  <!-- The main box end -->