 <!-- The main box start -->
 <div class="mainWrap">



    <!-- card 01 Start-->
    <div class="topic-card">
        <h6 style="position: relative; font-size: 12px;left: 8%;top:32%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Name</h6>
        <h6 style="position: relative; font-size: 12px;left: 42%;bottom: 6%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Type</h6>
        <h6 style="position: relative; font-size: 12px;left: 65%;bottom: 41%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Duration</h6>
        <h6 style="position: relative; font-size: 12px;left: 87%;bottom: 77%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">Date</h6>
    </div>
    <!-- =========card 01 End =========-->

    <!-- card 02 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Hasindu Herath</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Missed Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">7s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
    </div>
    <!-- ========= card 02 End ========= -->

    <!-- card 03 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Keshan Nandasena</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Outgoing Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">05s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
    </div>
    <!-- ========= card 03 End ========= -->

    <!-- card 04 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Ashen Perera</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Missed Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">7s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
    </div>
    <!-- ========= card 04 End ========= -->


    <!-- card 05 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Upeksha Swarnamali</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Missed Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">7s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
    </div>
    <!-- ========= card 05 End  =========-->

    <!-- card 06 Start-->
    <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Dulani Keshika</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Outgoing Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">7s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
    </div>
    <!-- ========= card 06 End ========= -->

       <!-- card 07 Start-->
       <div class="myCard">
        <img [src]="img1" width="25px" height="25px" class="rounded float-start" style="position: relative; top: 28%; left: 3%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 6%;top:40%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Malika Keshika</h6>
        <img [src]="iconMissed" width="13px" height="10px" class="rounded float-start" style="position: relative; top:9%; left: 34%; border-radius: 100px; ">
        <h6 style="position: relative; font-size: 10px;left: 36%;top: 8%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">Outgoing Call</h6>
        <h6 style="position: relative; font-size: 10px;left:68%;bottom:25%;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329)">7s</h6>
        <h6 style="position: relative; font-size: 10px;left: 85%;bottom: 58%; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329) ">02.08 AM</h6>
        <h6 style="position: relative;font-size: 19px;left: 95%;bottom: 109%;">...</h6>
       </div>
       <!-- ========= card 07 End ========= -->

</div>
  <!-- The main box end -->