/* 
  .mainWrap {
    margin: 20px;
    background-color: palevioletred;
  }

  .creativeTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .myCard {
    background-color: #4CAF50;
    color: white;
  }

  .myCard th, .myCard td {
    padding: 15px;
    text-align: left;
  }

  .creativeRow {
    background-color: #f2f2f2;
  }

  .cardCell {
    padding: 10px;
    border: 1px solid #ddd;
  }

.data{
background-color: aquamarine;
margin-top: 5%;
} */