<div class="container">
  <div style="height: 20px"></div>
  <div class="col-1"></div>
  <div class="h2 col-11">Counselor Registration</div>
  <div class="col-1"></div>
  <div class="col-11">
    <hr class="border-2 hr-line" [class.dark-mode]="isDarkMode" />
  </div>
  <div style="height: 20px"></div>
  <div class="mb-3 col-5">
    <div class="form-floating mb-3 m-auto">
      <input
        type="text"
        class="form-control-plaintext customField"
        id="floatingInput"
        [class.dark-mode]="isDarkMode"
      />
      <label for="floatingInput" class="floatLable"
        >Counselor Full Name :</label
      >
    </div>
  </div>
  <div style="height: 30px"></div>
  <!-- Add this div for a 30px space -->
  <div
    class="container rounded-4 shadow-lg main-card"
    id="hef"
    [class.dark-mode]="isDarkMode"
  >
    <div class="row px-3">
      <div class="mb-3 col-sm-10 col-md-8 col-lg-6 pt-4 px-4">
        <label
          for="exampleFormControlInput1"
          class="form-label lable"
          [class.dark-mode]="isDarkMode"
          >Email address</label
        >
        <input
          type="email"
          class="form-control rounded-5"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="col-lg-3 col-md-1 col-xl-4"></div>
      <div
        class="col-lg-2 col-sm-2 col-md-3 pt-3 d-sm-none d-md-block col-xl-2"
      >
        <img src="assets/images/happy 1.png" class="position-relative" />
      </div>
    </div>
    <div class="position-relative pt-sm-5 pt-md-0" style="top: -4rem">
      <div class="row px-3">
        <div class="mb-3 col-sm-7 col-md-4 col-lg-3 pt-4 px-4">
          <label
            for="exampleFormControlInput1"
            class="form-label lable"
            [class.dark-mode]="isDarkMode"
            >Contact number</label
          >
          <input
            type="number"
            class="form-control rounded-5"
            id="exampleFormControlInput1"
            placeholder="  07X XXX XXXX"
          />
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <div class="mb-3 pt-4 px-sm-3 px-md-5">
            <label
              for="exampleFormControlInput1"
              class="form-label lable"
              [class.dark-mode]="isDarkMode"
              >NIC No.</label
            >
            <input
              type="number"
              class="form-control rounded-5"
              placeholder="XXXXXXXXXV"
            />
          </div>
        </div>
      </div>
      <div class="row px-3">
        <div class="mb-3 col-sm-7 col-md-4 col-lg-3 pt-4 px-4">
          <label class="form-label lable" [class.dark-mode]="isDarkMode"
            >Date Of Birth</label
          >
          <input type="date" class="form-control rounded-5" />
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <div class="mb-3 pt-4 px-sm-3 px-md-5">
            <label class="form- lable" [class.dark-mode]="isDarkMode"
              >Gender</label
            >
            <select
              class="form-select rounded-5"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Custom</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 30px"></div>

  <div
    class="container rounded-4 shadow-lg main-card"
    id="hef"
    [class.dark-mode]="isDarkMode"
  >
    <div class="mb-3 col-sm-10 col-md-8 col-lg-6 pt-4 px-4">
      <label
        for="exampleFormControlInput1"
        class="form-label lable"
        [class.dark-mode]="isDarkMode"
        >User Name</label
      >
      <input
        type="text"
        class="form-control rounded-5"
        placeholder="Enter User Name"
      />
    </div>
    <div class="row px-3">
      <div class="mb-3 col-sm-7 col-md-4 col-lg-3 pt-4 px-4">
        <label
          for="exampleFormControlInput1"
          class="form-label lable"
          [class.dark-mode]="isDarkMode"
          >New password</label
        >
        <input
          type="password"
          class="form-control rounded-5"
          id="password_input"

        />
      </div>
      <div class="col-sm-7 col-md-5 col-lg-4">
        <div class="mb-3 pt-4 px-sm-3 px-md-5">
          <label
            for="exampleFormControlInput1"
            class="form-label lable"
            [class.dark-mode]="isDarkMode"
            >Confirm password</label
          >
          <input
            type="password"
            class="form-control rounded-5"
            id="password_confirm"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xl-10"></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xl-2 pb-4">
      <button
        type="button"
        id="btn_register"
        class="btn btn-danger rounded-5 mx-lg-3 mx-md-0 mx-sm-0 px-3 py-2 position-relative"
      >
        Register <i class="bx bx-right-arrow-alt"></i>
      </button>
    </div>
  </div>
</div>
