<div class="container">
  <div style="height: 20px"></div>
  <div class="col-1"></div>
  <div class="h2 col-11">Counselor Registration</div>
  <div class="col-1"></div>
  <div class="col-11">
    <hr class="border-2 border-dark" />
    <!-- This div will print a line -->
  </div>
  <div style="height: 20px"></div>
  <div class="mb-3 col-4">
    <input
      type="text"
      class="form-control rounded-0 border-0 border-bottom"
      placeholder="Counselor Full Name"
    />
  </div>
  <div style="height: 30px"></div>
  <!-- Add this div for a 30px space -->
  <div
    class="container rounded-4 shadow-lg"
    id="hef"
    style="background-color: #d3ebcd"
  >
    <div class="row px-3">
      <div class="mb-3 col-sm-10 col-md-8 col-lg-6 pt-4 px-4">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label
        >
        <input
          type="email"
          class="form-control rounded-5"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="col-lg-3 col-md-1 col-xl-4"></div>
      <div
        class="col-lg-2 col-sm-2 col-md-3 pt-3 d-sm-none d-md-block col-xl-2"
      >
        <img src="assets/images/happy 1.png" class="position-relative" />
      </div>
    </div>
    <div class="position-relative pt-sm-5 pt-md-0" style="top: -4rem">
      <div class="row px-3">
        <div class="mb-3 col-sm-7 col-md-4 col-lg-3 pt-4 px-4">
          <label for="exampleFormControlInput1" class="form-label"
            >Contact number</label
          >
          <input
            type="tel"
            class="form-control rounded-5"
            id="exampleFormControlInput1"
            placeholder="  07X XXX XXXX"
          />
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <div class="mb-3 pt-4 px-sm-3 px-md-5">
            <label for="exampleFormControlInput1" class="form-label"
              >NIC No.</label
            >
            <input
              type="text"
              class="form-control rounded-5"
              placeholder="XXXXXXXXXV"
            />
          </div>
        </div>
      </div>
      <div class="row px-3">
        <div class="mb-3 col-sm-7 col-md-4 col-lg-3 pt-4 px-4">
          <label class="form-label">Date Of Birth</label>
          <input type="date" class="form-control rounded-5" />
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <div class="mb-3 pt-4 px-sm-3 px-md-5">
            <label class="form-label">Gender</label>
            <select
              class="form-select rounded-5"
              aria-label="Default select example"
            >
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Custom</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-lg-9 col-md-9 col-sm-8 col-xl-10"></div>
    <div class="col-lg-3 col-md-3 col-sm-4 col-xl-2">
      <button
        type="button"
        class="btn btn-danger rounded-5 mx-lg-3 mx-md-0 mx-sm-0 px-3 py-2 position-relative"
      >
        Register <i class="bx bx-right-arrow-alt"></i>
      </button>
    </div>
  </div>
</div>
