<div class="container">
  <table class="styled-table col-12">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Type</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody style="align-content: center">
      <tr>
        <td s>Sithum</td>
        <td s>
          <div>
            <i class="bi bi-telephone"></i>
            <span>Income</span>
          </div>
        </td>
        <td s>6000</td>
        <td s>Dom</td>
      </tr>
      <tr>
        <td s>Sithum</td>
        <td s>
          <div>
            <i class="bi bi-telephone"></i>
            <span>Income</span>
          </div>
        </td>
        <td s>6000</td>
        <td s>Dom</td>
      </tr>
      <tr>
        <td s>Sithum</td>
        <td s>
          <div>
            <i class="bi bi-telephone"></i>
            <span>Income</span>
          </div>
        </td>
        <td s>6000</td>
        <td s>Dom</td>
      </tr>
      <!-- and so on... -->
    </tbody>
  </table>
</div>
